/* #2 Add a CSS rule for the body element that sets the background color to #E0E0E2 */
body {
    background-color: #E0E0E2;
    }
    
    /* #3 Add a CSS rule for the h1 element that sets the text color to: #721817 */
    h1 {
        color:#721817;
    }
    
    /* #4 Add a CSS rule for the h2 element that sets the text color to: #721817 */
    h2 {
         color: #721817
    }
    
    
    /* #5 Add a CSS rule for the center-text CSS class that aligns the text to center */
    .center-text {
        text-align: center;
    }
    
    /* #6 Add a CSS rule for the HTML element with the id logo. Set its left and right margins to auto and changes its display to a block element */
    #logo {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    /* #7Add a CSS rule for all span elements that are children of h2 elements that sets the text color to #FA9F42 and its font size to 0.75em */
    span {
        color: #fa9f42;
        padding-top: 12px;
        font-size: 0.75em;
    }
    
    /* #8 Add a CSS rule for the HTML element with the id copyright. Set its top padding to 12 pixels and its font size to 0.75em. */
    #copyright {
        padding-top: 12px;
        font-size: 0.75em;
    }
    
    /*
    The following tests failed:
    ✗ The 'NEW' labels within <h2> tags should have a color of '#fa9f42' (+ 1 related test)
    ✗ The element with the ID 'copyright' should have a font-size of 0.75em
    
    ✗ All <h2> tags should have a color of '#721817' (+ 2 related tests)
    ✗ The element with the ID 'copyright' should have a font-size of 0.75em
    */